DEBUG: Using mysql base from: C:\Users\23csed10\Downloads\local-service-booking-master\local-service-booking-master\backend_django\venv\Lib\site-packages\django\db\backends\mysql\base.py
--
-- Create model User
--
CREATE TABLE `core_user` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `password` varchar(128) NOT NULL, `last_login` datetime(6) NULL, `is_superuser` bool NOT NULL, `username` varchar(150) NOT NULL UNIQUE, `first_name` varchar(150) NOT NULL, `last_name` varchar(150) NOT NULL, `email` varchar(254) NOT NULL, `is_staff` bool NOT NULL, `is_active` bool NOT NULL, `date_joined` datetime(6) NOT NULL, `user_type` varchar(20) NOT NULL, `phone` varchar(20) NULL, `address` longtext NULL);
CREATE TABLE `core_user_groups` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `user_id` bigint NOT NULL, `group_id` integer NOT NULL);
CREATE TABLE `core_user_user_permissions` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `user_id` bigint NOT NULL, `permission_id` integer NOT NULL);
--
-- Create model ServiceProvider
--
CREATE TABLE `core_serviceprovider` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `name` varchar(100) NOT NULL, `service_type` varchar(50) NOT NULL, `location` varchar(100) NOT NULL, `price_per_hour` numeric(10, 2) NOT NULL, `phone_number` varchar(20) NULL, `rating` double precision NOT NULL, `description` longtext NULL, `user_id` bigint NULL UNIQUE);
--
-- Create model Feedback
--
CREATE TABLE `core_feedback` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `rating` integer NOT NULL, `comment` longtext NOT NULL, `created_at` datetime(6) NOT NULL, `user_id` bigint NOT NULL, `provider_id` bigint NOT NULL);
--
-- Create model Booking
--
CREATE TABLE `core_booking` (`id` bigint AUTO_INCREMENT NOT NULL PRIMARY KEY, `date` date NOT NULL, `time` time(6) NOT NULL, `address` longtext NOT NULL, `status` varchar(20) NOT NULL, `created_at` datetime(6) NOT NULL, `user_id` bigint NOT NULL, `provider_id` bigint NOT NULL);
ALTER TABLE `core_user_groups` ADD CONSTRAINT `core_user_groups_user_id_group_id_c82fcad1_uniq` UNIQUE (`user_id`, `group_id`);
ALTER TABLE `core_user_groups` ADD CONSTRAINT `core_user_groups_user_id_70b4d9b8_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`);
ALTER TABLE `core_user_groups` ADD CONSTRAINT `core_user_groups_group_id_fe8c697f_fk_auth_group_id` FOREIGN KEY (`group_id`) REFERENCES `auth_group` (`id`);
ALTER TABLE `core_user_user_permissions` ADD CONSTRAINT `core_user_user_permissions_user_id_permission_id_73ea0daa_uniq` UNIQUE (`user_id`, `permission_id`);
ALTER TABLE `core_user_user_permissions` ADD CONSTRAINT `core_user_user_permissions_user_id_085123d3_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`);
ALTER TABLE `core_user_user_permissions` ADD CONSTRAINT `core_user_user_permi_permission_id_35ccf601_fk_auth_perm` FOREIGN KEY (`permission_id`) REFERENCES `auth_permission` (`id`);
ALTER TABLE `core_serviceprovider` ADD CONSTRAINT `core_serviceprovider_user_id_a7185694_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`);
ALTER TABLE `core_feedback` ADD CONSTRAINT `core_feedback_user_id_630c6a53_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`);
ALTER TABLE `core_feedback` ADD CONSTRAINT `core_feedback_provider_id_fcc32577_fk_core_serviceprovider_id` FOREIGN KEY (`provider_id`) REFERENCES `core_serviceprovider` (`id`);
ALTER TABLE `core_booking` ADD CONSTRAINT `core_booking_user_id_55d9bfa8_fk_core_user_id` FOREIGN KEY (`user_id`) REFERENCES `core_user` (`id`);
ALTER TABLE `core_booking` ADD CONSTRAINT `core_booking_provider_id_ff22360b_fk_core_serviceprovider_id` FOREIGN KEY (`provider_id`) REFERENCES `core_serviceprovider` (`id`);
